/* Aplica a los enlaces con clase .a_nav */
.a_nav {
  color: white;
  text-decoration: none;
  font-weight: bold;

  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Personaliza la lista ul con clase .ul_description */
.ul_description {
  color:white;
  list-style-position: inside;
  li{
    a{
      color: blue;
    }
  }
}

.ul_encabezado{
  display: flex;
  list-style: none;
  justify-content: space-around;
}

/* Hover = cuando pasás el mouse */ 
.ul_encabezado:hover { 
  color: white; 
  text-decoration: underline; 
}

.inputs{
  margin: 15px; 
  height: 30px; 
  width: 80%;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 220px;
  margin: 20px; 
}

.skill-item img {
  margin: 10px 0;
  padding: 10px;
  border: solid white 2px;
  border-radius: 25px;
}


.titulo {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 8px;
  height: 40px;
}

.descripcion {
  font-size: 0.9em;
  color: #ccc;
  margin-top: 5px;
}

#title-skills{
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  margin: 0; 
  padding: 0;
  text-align: center;
}

#inputBotomm{
  margin: 15px; 
  height: 30px; 
  background-color: brown; 
  cursor: pointer; 
  width: 80%;
}

#Links{
  display: flex; 
  justify-content: center; 
  gap: 100px;
}

#div_skills {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 70px;
  justify-content: center;
  align-content: center;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}


#div_skills figure img {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: white solid;
  border-radius: 25px;
}


/* Estilo para todas las listas ordenadas */
ol {
  color: white;
  list-style-position: inside;
}

/*Personalizacion de las partes*/
body{
  margin: 0; 
  padding: 0; 
  color: white;
  background-image: url("img/background.svg");
  background-size: cover;        /* Hace que la imagen cubra toda la pantalla */
  background-repeat: no-repeat;  /* Evita que se repita */
}

header{
  padding: 0;
}

article{
  margin-top: 50px;
  padding: 0; 
  text-align: center;
  h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    color: red;
  }
}

/*Personalizacion del nav*/
nav{
  top: 0;
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: rgba(127, 255, 212, 0.205);
}

/*Personalizacion de los "h"*/
h1{
  text-align: center;
  color: goldenrod;
}

h2{
  margin: 0; 
  padding: 0;
}

footer{  
    width: 50%;
    padding: 20px;
    position: absolute;
}
